name: Go Test

on:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: "1.17"
          path: ${{ env.GOPATH }}/src/github.com/${{ github.repository }}

      - name: Run tests
        run: sh test.sh
